VecData/OldData/
ConstData/OkData/
MinProj_Master/
ConstData/OldData/

Logs/*
!events.out.tfevents.1540431702.euler

Architectures/*
!arch.json

Weights/*
!weights.h5

Histories/*
!history.txt

__pycache__

*.log
*.swp
*.png
