VecData/OldData/
ConstData/OkData/
MinProj_Master/
ConstData/OldData/

Pictures/*

OldBatches/*

Code/*.bcfg
Code/*.mcfg
Code/*.tcfg
Code/plotprojconst.py
!model.mcfg
!tensorboard.tcfg
!batch.bcfg

VecData/vecs_4_2_4200000_a.txt
ConstData/const_4_2_4200000_a.txt

Code/*.txt

Logs/*
!events.out.tfevents.1540431702.euler

Architectures/*
!arch.json

Weights/*
!weights.h5

Histories/*
!history.txt

Errors/*
!errors_4_2_4200000_a.txt

WestonBatches/*

__pycache__

*.log
*.swp
*.png
*.tar.gz
